Chapitre 6 - Flask et introduction au SQL en Python
===

Ce chapitre a pour but de vous faire découvrir l'utilisation de MySQL en Python et avec Flask en particulier.

Notre projet d'application Gazetteer se précise donc. Pour ne pas avoir à passer trop de temps sur d'autres tâches, voici un modèle de base de données pour le projet (très minimal) :

![Modele](images/datamodel.png)

Notre modèle est donc fait de 3 types de données et d'un lien pour deux d'entre eux. Notez qu'il est nécessaire d'avoir un `place` pour avoir un `variante`.

Vous pouvez trouver dans le dossier `cours-flask` l'ensemble des données nécessaires pour créer la base de données. Cependant, nous proposons de vous aider dans cette tâche. Pour créer la base de données, vous aurez besoin : 

- de MySQL installé sur votre ordinateur
- d'un accès administrateur à cette base de données
- d'un terminal ou d'une interface pour se connecter à cette base

Si vous avez MySQL Workbench de configurez, copiez et exécutez les scripts `cours-flask/datamodel.sql` et `sample_data.sql`.

Pour les fans de terminal, les commandes sont : 

```sh
mysql -uroot -p < cours-flask/datamodel.sql
mysql -uroot -p gazetteer < cours-flask/sample_data.sql
```

## Travailler avec MySQL

### Important !

Quand vous entreprendrez vos propres projets et que vous travaillerez avec des bases de données:

1. Ne jamais travailler directement sur la base de donnée publique : une erreur est vite arrivée et vous ne voulez pas effacer l'ensemble des données par mégarde...
2. Travaillez sur des **copies** : faites un backup et installez ces données sur votre propre machine
3. Privilégiez le lancement de toutes vos requêtes sur des machines hors production (= celles qui ne sont pas utilisées par le publique) avant de les faire fonctionner réellement.

### Installer
Le client MySQL pour exécuter des requêtes s'appelle [mysqlclient](https://mysqlclient.readthedocs.io/).

Pour installer le package, nous allons utiliser `pip` et taper dans notre terminal, avec l'environnement virtuel installé, `pip install mysqlclient`. Vous devriez avoir un retour de votre terminal se terminant par quelque chose ressemblant à:

```
Successfully built mysqlclient
Installing collected packages: mysqlclient
Successfully installed mysqlclient-1.3.12
```

### En cas d'erreur
D'après https://stackoverflow.com/a/25865271/2390493 :

#### Ubuntu 14, Ubuntu 16, Debian 8.6 (jessie)

Lancez simplement `sudo apt-get install python3-dev libmysqlclient-dev`

#### Mac OS

Après avoir installé [brew](https://brew.sh/), lancez `brew install mysql-connector-c` ou si cela échoue `brew install mysql`

### Écrire une requête avec python

Pour faire une requête sur une table, rien de plus simple en SQL. On se connecte pui cela ressemble en général à `Select * FROM nomdetable`. Voyons voir comment faire en python :

In [1]:
import MySQLdb
db = MySQLdb.connect(
    user="gazetteer_user",
    passwd="password",
    db="gazetteer"
)
cursor = db.cursor()
cursor.execute("SELECT * FROM place")
for result in cursor.fetchall():
    print(result)
print(type(result))
db.close()

(1, 'Hippana', 'Ancient settlement in the western part of Sicily, probably founded in the seventh century B.C.', 37.7018, 13.4358, 'settlement')
(2, 'Nicomedia', 'Nicomedia was founded in 712/11 BC as a Megarian colony named Astacus and was rebuilt by Nicomedes I of Bithynia in 264 BC. The city was an important administrative center of the Roman Empire.', 40.7652, 29.9199, 'settlement')
(3, 'Aornos', "Aornos was a mountain fortress and the site of Alexander the Great's last siege during the winter of 327-6 BC. The ancient site likely corresponds to ??a, a peak on the P?r-Sar west of the Indus river.", 34.7526, 72.8035, 'settlement')
(4, 'The "Hochtor Sanctuary"', 'A Celto-Roman sanctuary situated at an ancient high-mountain pass in the eastern Alps near Grossglockner, excavated beginning in the 1990s. Its ancient name is unknown.', 47.0818, 12.8426, 'sanctuary')
(5, 'Lipara (settlement)', 'A Greek colony and long-time settlement on the island of the same name, located to the north of Sicily in the Tyrrhenian Sea. Modern Lipari.', 38.4674, 14.954, 'settlement')
(6, 'Arch of Constantine', 'The Arch of Constantine at Rome, a triumphal arch dedicated in A.D. 315.', 41.8899, 12.4905, 'arch')
(7, 'Taberna Pomaria di Felix', "A fruit shop in Pompeii (I, 8, 1) with an entrance on to the Via dell'Abbondanza.", 40.7507, 14.49, 'taberna-shop')
(8, 'S. Paulus', "One of Rome's four major papal basilicae, S. Paulus was founded by Constantine I in the early fourth century A.D. and expanded by Valentinian I in the 370s.", 41.8587, 12.4768, 'church')
(9, 'Calleva', 'Calleva Atrebatum (known as Silchester Roman Town) was an Iron Age oppidum and Roman town in  Britannia. It was the civitas capital of the Atrebates tribe.', 51.3555, -1.09152, 'settlement')
(10, 'Colophon/Colophon ad Mare/Notion', 'A port city founded by Aeolian settlers at the mouth of the River Avci.', 37.9928, 27.1975, 'settlement')
(11, 'Bousiris', 'Bousiris was a city of Lower Egypt near the Phatnitic mouth of the Nile river and was considered one of the possible birthplaces of Osiris.', 30.9134, 31.2388, 'settlement')
(12, 'Corinthia', 'Corinthia was a region of ancient Greece associated with the city-state Corinth.', 37.7986, 22.8344, 'region')
(13, 'Garumna (river)', 'The Garonne river is a river of southwestern Gaul and northern Iberia.', 44.81, -0.318455, 'river')
(14, 'Caelius Mons', 'The Caelian Hill in Rome.', 41.8876, 12.4913, 'hill')
(15, 'Prinias (Patela)', "An Iron Age settlement on the Patela plateau north of the modern village of Prinias; its ancient name is uncertain. The site is notable for its occupation from the end of the Bronze Age through to the Archaic period, as well as for the monumental architecture and Orientalizing sculpture of its Buildings ('Temples') A and B. ", 35.1686, 25.0009, 'settlement')
<class 'tuple'>

#### Commentaire de code

- On importe le module `MySQLdb`
- On se connecte à MySQL via la fonction `connect()` du module `MySQLdb`
    - On stocke cette connection dans la variable db
- On crée un curseur qui nous permettra de réaliser des requêtes en faisant `db.cursor()`
    - On stocke ce curseur dans la variable `cursor`
- On exécute une requête en utilisant la méthode `.execute()` de l'objet stocké dans `cursor`
    - `cursor` va exécuter en fond la requéte
    - **Attention:** on ne stocke pas le résultat d'exécute
- On boucle sur le résultat de la méthode `.fetchall()` de `cursor`
    - Les résultats sont des tuples comprenant les valeurs de la base de données dans l'ordre de définition de ses champs
    - On affiche ces résultats via `print()`
- On clôt la connection

## SQLAlchemy et Flask_sqlalchemy

Bases SQL : MariaDB (open source, reprise du code source libre d'Oracle pour le dvp), SQLite et PostgreSQL (très présent sur le marché) => 95% de la sémantique est la même

MySQLdb est bien mais : 
1. Il est très proche du fonctionnement logiciel de MySQL (avec un système complexe de transactions, curseurs, etc.). 2. Sa proximité avec la mécanique MySQL rend le code complexe
3. Dans le cadre d'un déplacement vers un autre système SQL (tel que [SQLite](https://fr.wikipedia.org/wiki/SQLite) ou [PostgreSQL](https://fr.wikipedia.org/wiki/PostgreSQL), l'intégralité est à recoder.

Pour interagir avec des bases de données SQL, nous recommandons en général l'utilisation de SQLAlchemy et de sa variante pour flask `flask_sqlalchemy`. Nous ne verrons pas l'intégralité des possibilités de SQLAlchemy pour le moment mais simplement l'utilisation de celui-ci pour interroger une base de données existante.

Pour installer le package, nous allons utiliser `pip` et taper dans notre terminal, avec l'environnement virtuel installé, `pip install flask_sqlalchemy==2.3.2`. Vous devriez avoir un retour de votre terminal se terminant par quelque chose ressemblant à:

```
Successfully built SQLAlchemy
Installing collected packages: SQLAlchemy, flask-sqlalchemy
Successfully installed SQLAlchemy-1.2.0 flask-sqlalchemy-2.3.2 mysqlclient-1.3.12
```

Pour utiliser flask-sqlalchemy, il va falloir connecter notre application à la base de données. Pour ce faire, il faut donner à configurer Sql Alchemy : 

```python
from flask import Flask
from flask_sqlalchemy import SQLAlchemy

app = Flask("Nom")
app.config['SQLALCHEMY_DATABASE_URI'] = 'mysql://gazetteer_user:password@localhost/gazetteer' #configuration de la collection
db = SQLAlchemy(app) # extension sur l'application, fonction sur notre objet qui représente l'application
```

### Commentaire de code :

- Nous importons à la fois Flask et SQLAlchemy (Version flask_sqlalchemy)
- Nous créons une application Flask qui porteral le nom "Nom"
- Nous configurons l'application avec les informations nécessaires pour ce connecter. Vous trouverez l'ensemble des informations dans la partie [configuration](http://flask-sqlalchemy.pocoo.org/2.3/config/) de la documentation de Flask_SQLAlchemy
- Nous initions l'objet SQLAlchemy en lui fournissant l'application comme variable et en le stockant dans la variable `db`.

Vu que nous n'exécutons pas le code pour le moment, vous pouvez lancer le code suivant :

In [2]:
from flask import Flask
from flask_sqlalchemy import SQLAlchemy

app = Flask("Nom")
app.config['SQLALCHEMY_DATABASE_URI'] = 'mysql://gazetteer_user:password@localhost/gazetteer'
db = SQLAlchemy(app)

/home/tnah/.cours-python/lib/python3.5/site-packages/flask_sqlalchemy/__init__.py:794: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

**Important:** Vous avez sûrement un avertissement (contrairement à l'erreur, le code continu de tourner). La documentation de flask_sqlalchemy nous informe que le paramètre `SQLALCHEMY_TRACK_MODIFICATIONS` devrait être désactiver car il provoque des baisses de performances et qu'il sera supprimé par défaut dans le futur. Nous le conserverons ainsi pour le moment bien que nous ne l'utiliserons pas.

### Les requêtes manuelles

Pour faire la même requête que précédemment avec SQLAlchemy, il suffit d'exécuter la sous-méthode `engine.execute()` de `db`:

In [3]:
query = db.engine.execute("SELECT * FROM place") #result proxy (intermédiaire qui fait le requêtage lui-même)
print(query)
# Vous pouvez remplacer fetchmany par fetchall ou fetchone en supprimant le 2
for x in query.fetchmany(2):
    print(x["place_nom"])
    print(type(x))

<sqlalchemy.engine.result.ResultProxy object at 0x7f153ed69e48>
Hippana
<class 'sqlalchemy.engine.result.RowProxy'>
Nicomedia
<class 'sqlalchemy.engine.result.RowProxy'>

Plusieurs choses nous intéressent ici :
- Notre variable `query` est en fait un objet `ResultProxy` qui possèdent diverses méthodes comme `.fetchone()`, `.fetchall()` et `.fetchmany(nombre)`.
- Nous pouvons faire une boucle sur le résultat des méthodes `.fetch__()`
- Nos résultats prennent comme clé de dictionnaire les noms des colonnes
- Nos résultats sont en fait des objets `RowProxy` se comportant aussi comme des dictionnaires. Tant qu'on ne les demande pas, les resultats ne sortent pas

Cependant, peu de développeurs utilisent SQLAlchemy et sa version Flask pour écrire ce genre de requête...

### Générer les requêtes automatiquement : les modèles

De fait, il est plus courant pour les développeur-se-s utilisant SQLAlchemy de créer ce que l'on va appeler des modèles. Les modèles sont créés grâce à la déclaration `class` comme suit :

```python
class Place(db.Model): #place est un db.Model (il ne s'agit pas d'un paramètre)
    # Tout comme tous les deux points de python, on écrit ensuite en décalé
```

Le nom de la après `class` doit être le même que le nom de la table (avec une majuscule pour l'identifier visuellement plus facilement). On enregistre ensuite les différents champs du modèle avec la syntaxe `nom = colonne(type de colone, paramètres supplémentaires)`:

```python
class Place(db.Model):
    place_id = db.Column(db.Integer, unique=True, nullable=False, primary_key=True, autoincrement=True)
```
La première colone est la plus complexe (incrémentation)  
Conventions dvpt :
* Aaaaa = class
* aaaaa = variable ou fonction
* AAAAA = constante

Il existe alors plusieurs types de colonnes :

| Type         | Exemple         | Définition                                                                    |
| ------------ | --------------- | ------------------------------------------------------------------------------|
| Entier       | db.Integer      | Stocke un entier                                                              |
| Chaîne       | db.String(42)   | Stocke une chaîne à taille maximale ( ici 42)                                 |
| Texte        | db.Text         | Un texte sans taille maximale                                                 |
| DateTime     | db.DateTime     | Date et Heure suivant un objet [`datetime`](https://docs.python.org/3.5/library/datetime.html) en python                           |
| Float        | db.Float        | Stocke un décimal                                                             |
| Boolean      | db.Boolean      | Stocke un booléen                                                             |

![Modele pour les images](images/model.place.png)

Pour notre classe modèle dont nous recopions l'image ci-dessus, cela signifie que notre code sera :

In [4]:
class Place(db.Model):
    place_id = db.Column(db.Integer, unique=True, nullable=False, primary_key=True, autoincrement=True)
    place_nom = db.Column(db.Text)
    place_description = db.Column(db.Text)
    place_longitude = db.Column(db.Float)
    place_latitude = db.Column(db.Float)
    place_type = db.Column(db.String(45))

#### Exercice

Réalisez la même chose pour la table utilisateur :

![User Model](images/model.user.png)

In [5]:
# Votre code ici
class User(db.Model):
    user_id = db.Column(db.Integer, unique=True, nullable=False, primary_key=True, autoincrement=True) #clé primaire : identifiant imp, nullable : pas vide
    user_nom = db.Column(db.Text)
    user_login = db.Column(db.String(45), unique=True)
    user_email = db.Column(db.Text)
    user_password = db.Column(db.String(64))

### Des modèles aux requêtes

#### `Select * From place`
* on prend `place(modèle de données).query.all(tout)`

Maintenant que notre modèle est mis en place, il est possible de faire des requêtes. Pour récupérer l'intégralité des lieux, nous devons faire `NomDeLaClasseDeDonnées.query.all()`

In [6]:
lieux = Place.query.all()
print(lieux)

[<Place 1>, <Place 2>, <Place 3>, <Place 4>, <Place 5>, <Place 6>, <Place 7>, <Place 8>, <Place 9>, <Place 10>, <Place 11>, <Place 12>, <Place 13>, <Place 14>, <Place 15>]

#### Afficher des informations sur un lieux

Nous avons donc désormais une liste de lieux issus de la base de données. Peut-être pouvons nous afficher le nom de chacun d'entre eux. Pour cela, nous allons utiliser les nom de colonnes comme des attributs :

In [7]:
for lieu in lieux:
    print(lieu.place_nom, lieu.place_type)

Hippana settlement
Nicomedia settlement
Aornos settlement
The "Hochtor Sanctuary" sanctuary
Lipara (settlement) settlement
Arch of Constantine arch
Taberna Pomaria di Felix taberna-shop
S. Paulus church
Calleva settlement
Colophon/Colophon ad Mare/Notion settlement
Bousiris settlement
Corinthia region
Garumna (river) river
Caelius Mons hill
Prinias (Patela) settlement

#### `Select * From Places where place_id = 1`

Pour les clés primaires, Flask SqlAlchemy propose l'utilisation de `.query.get(cle)` pour récupérer l'information, en l'occurence, si l'on voulait retrouver le lieu 5 :

In [8]:
cinq = Place.query.get(5) #get comprend que c'est égal à place_id car c'est la clé primaire
print(cinq.place_nom)

Lipara (settlement)

#### `Select * From Places where place_type="settlement"`

Pour les requêtes plus complexes (avec un champ autre que le champ primaire), on utilise les conditions pythons `==` dans `.query.filter()`. On retrouve ensuite les résultats en utilisant

In [9]:
settlements = Place.query.filter(Place.place_type=="settlement").all() #égalité python à faire dans les () du filter
print(settlements)

[<Place 1>, <Place 2>, <Place 3>, <Place 5>, <Place 9>, <Place 10>, <Place 11>, <Place 15>]

#### Compter le nombre de résultats

Il y a des situations où l'on souhaite simplement compter les résultats pour afficher cette information. On remplacera alors simplement `.all()` par `.count()`

In [10]:
settlements = Place.query.filter(Place.place_type=="settlement").count()
print(settlements)

8

### Une expliquation : ce qui se passe derrière tout cela

SQL Alchemy est ce que l'on appelle un ORM ([Object-Relational Mapping](https://fr.wikipedia.org/wiki/Mapping_objet-relationnel)). Les ORM ont généralement plusieurs avantage sur l'utilisation de requêtes directement écrites en SQL :

- les résultats sont dans des formes faciles à exploiter : il ne s'agit pas de dictionnaire ou de liste mais d'objet
- les requêtes sont simples à écrire et faciles à comprendre sans avoir de grandes connaissances en SQL
- généralement, ils offrent une compatibilité avec de nombreux systèmes : SQLAlchemy peut se connecter SQLite, Postgresql, MySQL, Oracle, MS-SQL, Firebird, Sybase, etc. Cela signifie qu'il est possible de changer de système très facilement en changeant simplement la ligne de connexion.

Quand on réalise une requête de type `Place.query.filter(Place.place_type=="settlement")`, Flask SQL Alchemy va commencer à construire la requête suivante : `SELECT * FROM Place WHERE place_type="settlement"`. Puis, :
- en faisant `.all()` ensuite, il va récupérer l'ensemble des résultats tels quels
- en faisant `.count()`, il va modifier la requête en `SELECT COUNT(*) FROM Place where place_type="settlement"` puis l'exécuter
- en faisant `.first()`, on récupèrera le premier résultat (et donc on éviter une liste)

La requête est donc traduite et augmentée au fur et à mesure que nous enchaînons les méthodes.

#### Exercice
Par exemple, on peut très bien ordonner les objets. Pouvez-vous traduire la ligne suivante en MySQL :

In [ ]:
settlements = Place.query.filter(Place.place_type=="settlement").order_by(Place.place_nom.desc()).all()
print(settlements)

# En SQL :
requete = "SELECT * FROM place WHERE place_type="settlement" ORDER BY place_nom  DESC;" # DESC : ordre décroissant

### Des requêtes à leur utilisation dans une page web

Maintenant que nous avons notre modèle, nous pouvons commencer à intégrer ces requêtes. Nous avions jusque là une page index qui affichait l'ensemble des liens de la base de données. Nous allons donc d'abord configurer comme ci-dessus Flask SQL Alchemy :

```python

from flask import Flask, render_template
from flask_sqlalchemy import SQLAlchemy

app = Flask("Application")
# On configure la base de données
app.config['SQLALCHEMY_DATABASE_URI'] = 'mysql://gazetteer_user:password@localhost/gazetteer'
# On initie l'extension
db = SQLAlchemy(app)
```

On copiera ensuite le modèle de données :

```python

class Place(db.Model):
    place_id = db.Column(db.Integer, unique=True, nullable=False, primary_key=True, autoincrement=True)
    place_nom = db.Column(db.Text)
    place_description = db.Column(db.Text)
    place_longitude = db.Column(db.Float)
    place_latitude = db.Column(db.Float)
    place_type = db.Column(db.String(45))
```

Puis on récupère les données au moment de l'exécution des routes :

```python

@app.route("/")
def accueil():
    # On a bien sûr aussi modifié le template pour refléter le changement
    lieux = Place.query.all()
    return render_template("pages/accueil.html", nom="Gazetteer", lieux=lieux)
```

#### Exercice

**Avant de regarder l'exemple ci-dessous**, essayez de modifier la route ci-dessous afin qu'elle utilise la connexion à la base de données :

```python
@app.route("/place/<int:place_id>")
def lieu(place_id):
    return render_template("pages/place.html", nom="Gazetteer", lieu=lieux[place_id])
```

In [ ]:
# Votre code ici :
@app.route("/place/<int:place_id>")
def lieu(place_id)
    place = Place.query.get(place_id)
    return render.template("page/place.html", nom="Gazetteer", lieu=place)

#### Exemple 11

- [Nouveau template pour l'accueil](cours-flask/exemple11/templates/pages/accueil.html)
- [Nouveau template pour les lieux](cours-flask/exemple11/templates/pages/place.html)

Dans votre terminal, avec votre environnement virtuel :

```sh
cd cours-flask/exemple11
python app.py
```

puis allez sur http://127.0.0.1:5000

In [11]:
# Raccourci pour afficher le contenu de l'exemple
%pycat cours-flask/exemple11/app.py